/* Added variables for style
colors to more easily adjust
colors on the fly */

:root {
    --blueprimary: #007bff;
    --lightbackground: #f0f8ff;
    --white: #FFF;
    --darkfont: #333;
    --hovercolor: #ccc;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--lightbackground);
    color: var(--darkfont);
}

header {
    background-color: var(--blueprimary);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

.header-content {
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.settings-icon {
    color: var(--white);
    font-size: 1.5rem;
}

.settings-icon:hover {
    color: var(--hovercolor);
}

main {
    padding: 2rem;
}

.summary {
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: var(--white);
    padding: 1rem;
    border-radius: 0.2rem;
    box-shadow: 0 0.1rem 0.2rem var(--darkfont);
    width: 45%;
}
