.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  padding: 0.2rem;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  z-index: 10; /* Higher z-index than content */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem 0.25rem 0 0;
}
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-link {
    color: var(--blueprimary);
    text-decoration: none;
    font-weight: bold;
    margin: 0 0.2rem;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }

  .footer-separator {
    color: black;
  }